<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Dashboard</title>
</head>
<style>
    a{
        text-decoration: none;
      }
      body{
            background-color: #e9efff;
          }
          .change:hover{
              background-color: #a4baf7;
              /* font-size: 18px; */
            }
    .student_list_2{
        display: none;
    }
    .student{
        transition: all .2s;
    }
    .student:hover{
        transform: scale(1.02);
    }
    .bgbox {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form.delete_form{
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 1100px) {
    .student_list_1{
        display: none;
    }
    .student_list_2{
        display: block !important;
    }
    .hero{
        width: 98% !important;
    }
}

@media only screen and (max-width: 576px) {
    .delete_form{
        margin-top: 10px !important;
    }
    .edit_btn{
        padding-top: 6px !important;
        margin-left: 6px !important;
    }
    .edit_container{
        padding-top: 10px !important;
    }
}
@media only screen and (max-width: 540px) {
    .card_1{
        width: 95%;
    }
    .card_2{
        width: 95%;
    }
    .card_3{
        width: 95%;
    }
}
</style>
<script>
    let data;
    let data2;
    // addEventListener
    function myFunction() {
       data=document.getElementById("myText").value;
}
function direct(){
myFunction()
window.location.href = "result/"+data;
} 
function myFunctionTwo() {
       data2=document.getElementById("myText2").value;
      
}
  </script>
<body>
    <div class="bgbox">
        <img src="images/logo.jpeg" alt="" width="100%" height="150px" style="-webkit-filter: blur(3px);">
        <div class="centered"><h3 style="background-color: #4E6166;" class="rounded p-2">LAWRENCE DEMONSTRATION SCHOOL</h3></div>
      </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #4E6166;" >
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">MockRoom</a>
          <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
          </button>
          <div class="collapse navbar-collapse ms-lg-5" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link text-white mx-3 active " data-bs-toggle="modal" data-bs-target="#exampleModal" aria-current="page" href="#">Create mock</a>
              <a class="nav-link text-white mx-3 active " data-bs-toggle="modal" data-bs-target="#exampleModal2" aria-current="page" href="#">Delete mock</a>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center px-2">
          <a href="/logout" class="text-white">LogOut</a>
          <i class="bi bi-box-arrow-in-right text-white" style="font-size: 20px;"></i>
        </div>
        
    </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><h5>Add A Mock</h5></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/mock" method="post">
                <input type="text" placeholder="Enter mock name" name="mockName" class="form-control">
                <input class="btn btn-primary mt-4" type="submit" value="Create Mock">
              </form> 
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><h5>Add A Mock</h5></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/deletemock" method="post">
                <div class="form-group">
                  <select class="form-control" id="myText2" name="mockId" onchange="myFunctionTwo()">
                      <% mock.forEach((item)=>{ %>
                   <option value="<%= item._id %>"><%= item.mockName %></option>
                   <% }) %>
                  </select>
              </div>
                <input class="btn btn-danger mt-4" type="submit" value="Delete Mock">
              </form> 
            </div>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="d-flex">
            <div class="hero col-md-7">
                <div class="row p-4">
                    <div class="d-sm-flex">
                        <div class="col-8 col-sm-4 mx-auto card_1">
                            <a href="/stats/<%=mockId%>" class="text-dark m-3 rounded-4 d-flex mx-3 flex-column align-items-center justify-content-center shadow p-5 change">View Stats</a>
                        </div>
                        <div class="col-8 col-sm-4 mx-auto card_2">
                            <a dtype="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-dark m-3 rounded-4 d-flex mx-3 flex-column align-items-center justify-content-center shadow p-5 change">Create Mock</a>
                        </div>
                        <div class="col-8 col-sm-4 mx-auto card_3 m-3 d-flex flex-column rounded-4 justify-content-between">
                            <p>Choose mock to view results</p>
                            <div class="rounded-4" style="height: 45%;">
                              <div class="form-group">
                                <select class="form-control" id="myText" name="mockId" onchange="myFunction()">
                                    <% mock.forEach((item)=>{ %>
                                 <option value="<%= item._id %>"><%= item.mockName %></option>
                                 <% }) %>
                                </select>
                            </div>
                            </div>
                            <a class="shadow rounded-2 align-items-center justify-content-center d-flex mt-1 change text-dark" style="height: 45%; " onclick="direct()">
                            Get Result
                            </a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="m-3 d-flex align-items-center">
                    <div class="shadow p-3 rounded-4" style="width: 95%; margin: auto;">
                      <div class="d-flex align-items-center mb-4">
                        <img src="images/logo.jpeg" class="rounded-circle me-2" alt="" width="50px">
                        <h3>Create Student</h3>
                      </div>
                      <form action="/student" method="post">
                          <div class="form-group mt-3">
                            <label for="exampleInputEmail1">Student Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"y placeholder="Nii-Gyan Christian" name="studentname" required>
                           
                          </div>
                          <div class="form-group my-4">
                            <label for="exampleFormControlSelect1">Select mock this student enrolled in</label>
                            <select class="form-control" id="myText" name="mockId" onchange="myFunction()">
                              <% mock.forEach((item)=>{ %>
                               
                                <option value="<%= item._id %>" id="getr"><%= item.mockName %></option>
                                <% }) %>
                            </select>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">English</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="English">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Maths</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="Maths">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Social</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="Social">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Science</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="Science">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">BDT</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="BDT">
                                     
                                    </div>
                                    
                              </div>
                              <div class="col">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">RME</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="RME">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">ICT</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="ICT">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">TWI</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="TWI">
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">French</label>
                                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="1-9" min="0" max="9" value="0" name="French">
                                     
                                    </div>
                          
                                  
                              </div>
                          
                         
                          </div>
                          <div class="row mt-4 mx-2">
                            <button type="submit" class="mb-2 btn btn-primary" >Add Student</button>
                        </div>
                         
                          
                        </form>
                      </div>
                   
                </div>
                
            </div>
            <div class="student_list_1 col-12 col-md-5">
                <div class="four m-3 rounded-4 shadow p-3" style="min-height: 100vh;">
                    <h3 class="border-bottom border-2">Students</h3>
                    <div class="align-items-center border-bottom pb-2">
                      <div class="row">
                        <div class="d-flex border-bottom border-white">
                            <p class="col-5 p-2" style="height: 100%;  background-color: rgba(30, 56, 133, 0.061);">Name</p>
                            <p class="col-3  p-2" style="height: 100%; background-color: rgba(11, 229, 33, 0.063); ">Aggregate</p>
                            <p class="col-4  p-2" style="height: 100%; background-color: rgba(210, 93, 75, 0.065);">Edit/Del</p>
                        </div>
                      </div>
                      <div class="row">
                        <% students.forEach((item)=>{ %>
                        <div class="d-flex student">
                          <%if(item.ICT===0 || item.RME===0 || item.TWI===0 || item.French===0 || item.BDT===0 || item.English===0 || item.Maths===0 || item.Social===0 || item.Science===0){%>
                            <span class="d-flex align-content-center align-items-center" style="color: red; font-size: 20px;">|</span>
                            <%}%>
                            <div class="col-5  p-2" style="background-color: rgba(30, 56, 133, 0.063);"><%= item.name %></div>
                            <div class="col-3 px-3 p-2" style="background-color: rgba(11, 229, 32, 0.062);"><%= item.aggregate %></div>
                            <div class="col-4 edit_container d-sm-flex p-1" style="background-color: rgba(210, 93, 75, 0.063);">
                                <a href="/editstudent/<%= item._id%>" class="bg-dark edit_btn p-2 px-3 rounded text-white" style="height: 38px;">edit</a>
                                <form class="delete_form" action="/deletestudent" method="post">
                                    <input type="text" hidden name="studentId" value="<%= item._id %>">
                                    <input type="text" hidden name="mockId" value="<%= item.mockId %>">
                                    <input type="text" hidden name="studentname" value="<%= item.name %>">
                                   
                                    <button type="submit" class="btn btn-danger ms-2 rev" >delete</button>
                                </form>
                           
                            </div>
                        </div>
                        <% }) %>
                      </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="student_list_2 col-12">
            <div class="four m-3 rounded-4 shadow p-3">
                <h3 class="border-bottom border-2">Students</h3>
                <div class="align-items-center border-bottom pb-2">
                    <div class="row">
                      <div class="d-flex border-bottom border-white">
                          <p class="col-5 p-2" style="height: 100%;  background-color: rgba(30, 56, 133, 0.061);">Name</p>
                          <p class="col-3  p-2" style="height: 100%; background-color: rgba(11, 229, 33, 0.063); ">Aggregate</p>
                          <p class="col-4  p-2" style="height: 100%; background-color: rgba(210, 93, 75, 0.065);">Edit/Del</p>
                      </div>
                    </div>
                    <div class="row">
                        <% students.forEach((item)=>{ %>
                      <div class="d-flex student">
                          <div class="col-5  p-2" style="background-color: rgba(30, 56, 133, 0.063);"><%= item.name %></div>
                          <div class="col-3 px-3 p-2" style="background-color: rgba(11, 229, 32, 0.062);"><%= item.aggregate %></div>
                          <div class="col-4 edit_container d-sm-flex p-1" style="background-color: rgba(210, 93, 75, 0.063);">
                              <a href="#" class="bg-dark edit_btn p-2 px-3 rounded text-white" style="height: 38px;">edit</a>
                              <form class="delete_form" action="/deletestudent" method="post">
                                  <input type="text" hidden name="studentId" value="<%= item._id %>">
                                  <input type="text" hidden name="mockId" value="<%= item.mockId %>">
                                  <input type="text" hidden name="studentname" value="<%= item.name %>">
                                  
                                  <button type="submit" class="btn btn-danger ms-2 rev" >delete</button>
                              </form>
                         
                          </div>
                      </div>
                      <% }) %>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    <footer style="background: #4e6166; color: white;">
        <div class="align-content-center p-2 d-flex " style="height: auto; width: 90%;">
            <a href="#" class="text-dark h3 align-content-center align-items-center text-white">MockRoom</a>
            <div class=" ms-5 mt-2 d-sm-flex">
              <p class="text-dark h5 text-white">Useful links</p>
              <div class="d-flex ms-2">
                <a href="#" class="text-dark d-block text-white">| Create mock</a>
                <a href="#" class="text-dark d-block ms-2 text-white">| All Mocks</a>
              </div>
            </div>
            
         </div>
         <p class="d-flex justify-content-end mx-4 text-white">copyright &copy; Nii-Gyan Christian</p>
      
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>